<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="thankyou">
        <p>Thank you for using CommonCoin!!</p>
    </div>
    <div id="loginagain_buttons">
        <form action="login.html">
            <input type="submit" value="Login again?" />
        </form>
        <form action="signup.html">
            <input type="submit" value="Create a new account?" />
        </form>
    </div>  
</body>
</html>