<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Transaction History</title>

</head>
<body>
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo"><img src="img/logo.png" alt="logo"></div>
            <li><a href="index.html">Home</a></li>
            <li><a href="transaction.html">Make a Transaction</a></li>
            <li><a href="tranhistory.html">Transaction History</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li><a href="logout.html">Logout</a></li>
            <!-- <li><a href="login.html">Login</a></li> -->
            <!-- <li><a href="signup.html">Sign Up</a></li> -->
        </ul>
        <div class="rightnav">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
    </nav>
    <div class="tran-block">
        <ul>
            <label name="username">Username: {{dcl}}</label><br><!-- (from/to username) -->
            <label name="hash">Hash: {{hash}}</label><br>
            <label name="trantype">Type: {{Credit}}</label><br>
            <label name="amount">Amount: {{15}}</label><br>
            <label name="balance">Balance: {{115}}</label><br>

        </ul>
    </div>
</body>
</html>