<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo"><img src="img/logo.png" alt="logo"></div>
            <li><a href="index.html">Home</a></li>
            <!-- <li><a href="transaction.html">Make a Transaction</a></li> -->
            <!-- <li><a href="tranhistory.html">Transaction History</a></li> -->
            
            <li><a href="contactus.html">Contact Us</a></li>
            <!-- <li><a href="logout.html">Logout</a></li> -->
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Sign Up</a></li>
        </ul>
        <div class="rightnav">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
    </nav>
    <div id="teammembers">
        <div class="profile">
            <div class="photo">
                <img alt="Koushal B.">
            </div>
            <div class="info">
                <h2>Koushal Bhat</h2>
                <p>Contact No. ******</p>
            </div>
        </div>
        <div class="profile">
            <div class="photo">
                <img alt="Dhanashree L." src="img/dcl.png">
            </div>
            <div class="info">
                <h2>Dhanashree Lavekar</h2>
                <p>Contact No. 7588972690</p>
            </div>
        </div>
        <div class="profile">
            <div class="photo">
                <img alt="Lokesh K.">
            </div>
            <div class="info">
                <h2>Lokesh Kasliwal</h2>
                <p>Contact No. ******</p>
            </div>
        </div>
    </div>
</body>
</html>