<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo"><img src="{{ url_for('static', filename='logo.png') }}" alt="logo"></div>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <!-- <li><a href="tranhistory.html">Transaction History</a></li> -->
            <!-- <li><a href="transaction.html">Make a Transaction</a></li> -->
<!--            <li><a href="contactus.html">Contact Us</a></li>-->
<!--            <li><a href="{{ url_for('login') }}">Login</a></li>-->
            <li><a href="{{ url_for('register') }}">Sign Up</a></li>
<!--             <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>&lt;!&ndash;temporary &ndash;&gt;-->
        </ul>
        <div class="rightnav">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
    </nav>
    <!-- <div id="name">COMMONCHAIN</div> -->
    <div id="container">
        <div class="form-wrap">
        <form method="POST" action="">
                <h1>Log In</h1>
                <div class="form-elements">
                    <label for="username"><strong class="label">Username</strong></label><br>
                    <input type="username" name="username" id="username" />
                </div>
                <div class="form-elements">
                    <label for="password"><strong class="label">Password</strong></label><br>
                    <input type="password" name="password" id="password" />
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <footer>
            <p> Dont have an account? </p>
            <a href="#">Create new account</a>
        </footer>
    </div>
</body>

</html>